@{
// Copyright 2015 Google Inc.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//
}
@model _300858525_Jiang__ASS.ViewModels.Movies.Index

<h3>Movies</h3>
<a href="/Movies/Create" class="btn btn-success btn-sm" id="add-movie">
    <i class="glyphicon glyphicon-plus"></i>
    Add movie
</a>

@foreach (var movie in Model.MovieList.Movies)
{
    <div class="media">
        <a href="/Movies/Details/@movie.Id">
            <div class="media-left">
                @if (!String.IsNullOrEmpty(movie.ImageUrl))
                {
                    <img src="http://placekitten.com/g/128/192">
                }
                else
                {
                    <img src="http://placekitten.com/g/128/192">
                }
            </div>
            <div class="media-body">
                <h4>@movie.Title</h4>
                
            </div>
        </a>
    </div>
}

@if (Model.MovieList.Movies.Count() == 0)
{
    <p>No movies found</p>
}

@if (null != Model.MovieList.NextPageToken)
{
    <nav>
        <ul class="pager">
            <li><a href="?nextPageToken=@Model.MovieList.NextPageToken">More</a></li>
        </ul>
    </nav>
}
